table {
    border-collapse: collapse;
    width: 50%;
    text-align: left;
}

tr {
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4caf50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

td,
th {
    padding: 5px;
}
